<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.ctptech.vpn.mDNSResponder.startup</string> 
    
    <key>StandardOutPath</key>
    <string>/var/log/dev.ctptech.vpn.mDNSResponder.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/dev.ctptech.vpn.mDNSResponder.log</string>

    <key>OnDemand</key>
    <false/>


    <key>ProgramArguments</key>
    <array>
            <string>bash /usr/local/bin/dns-server</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>Debug</key>
    <true/>
    <key>EnableGlobbing</key>
    <true/>

</dict>
</plist>
